{% extends 'main.html' %} {% block content %}
<div class="container">
  <h2>Pagina de Posts</h2>
</div>

<div class="container">
  <div class="row row-cols-auto">
    {% for post in posts%}
    <div class="col">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{{post.image.url}}"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <h6 class="card-title">{{post.subtitle}}</h6>
              <p class="card-text">{{post.description}}</p>
              <a
                href="{% url 'post' post.id %}"
                class="btn btn-primary disabled"
                tabindex="-1"
                role="button"
                aria-disabled="true"
                >Leer Mas</a
              >
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
