{% extends 'main.html' %} {% block content %}
<h1>Tasks</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, facilis?
  Officiis natus, cumque dolore corporis, rerum amet facere harum nobis
  repellendus repellat autem quod eaque temporibus sapiente possimus vitae
  reprehenderit. Voluptate ex velit totam ipsam nobis voluptates quasi dolorem
  reprehenderit dolor, esse ratione alias culpa laboriosam? Quo reiciendis
  deleniti ullam sapiente modi quod rerum aut, quidem blanditiis, dicta
  dignissimos optio qui excepturi sunt nesciunt nostrum maxime nihil dolorum
  sed. Dolorum sequi odio officia, architecto, ab autem quo eveniet adipisci
  earum minima beatae similique doloremque hic rerum blanditiis eos recusandae
  amet repudiandae laudantium suscipit nesciunt? Cum, excepturi. Officiis
  reiciendis beatae eius?
</p>
{% endblock %}
