{% extends 'base.html' %}
{% load static %}

{% block title %}Log in{% endblock title %}

{% block content %}
    <div class="card o-hidden border-0 shadow-lg w-75 mx-auto my-4">
        <div class="card-header py-3 sign__header">
            <h4 class="m-0 font-weight-bold">Iniciar Sesión </h4>
        </div>
        <div class="card-body">
            <form method="post">
            {% if message %}
                <div class="alert alert-danger">
                    <strong>{{ message|escape }}</strong>
                </div>
            {% endif %}
            {% csrf_token %}
                <input type="text" id="username" name="username" class="form-control mb-4" placeholder="Nombre de usuario..." required>
                <input type="password" id="password" name="password" class="form-control mb-4" placeholder="Contraseña" required>
                <small>No tenes un usuario? <a href="{% url 'signup' %}">Registrate</a></small>
                <div class="d-flex justify-content-center sign__button">
                    <button type="submit" class="btn text-center align-items-center">Iniciar sesión</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
